[user]
	name = Alex DiLiberto
	email = alexdiliberto@server.fake
[core]
	editor = subl -w
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[difftool "kdiff3"]
	path = /usr/local/bin/kdiff3
	trustExitCode = false
[difftool]
	prompt = false
[diff]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /usr/local/bin/kdiff3
	trustExitCode = false
[mergetool]
	keepBackup = false
[merge]
	tool = kdiff3
[push]
	default = simple